build/soloud
build/target
build/ass.h
build/ass.cpp
build/test/**
sample/sample
sample/*.wav
sample/*.mp3
sample/*.ogg
sample/*.mid
sample/*.dll
sample/.vs/
.vs/
sample/x64
sample/Debug/
sample/Release/
sample/sample.vcxproj.*